rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /sessions/{sessionId} {
      allow read, write: if true;
      match /players/{playerId} {
        allow read, write: if true;
      }
      match /courts/{courtId} {
        allow read, write: if true;
      }
      match /history/{historyId} {
        allow read, write: if true;
      }
      match /costs/{costId} {
        allow read, write: if true;
      }
      match /matchLog/{entryId} {
        allow read, write: if true;
      }
    }
  }
}